[buildout]
extensions =
    cykooz.buildout.basicauth
    cykooz.buildout.fixnamespace
develop =
    src/restfw_admin
    src/example_app
extends = versions.cfg
versions = versions
parts =
    restfw_admin
    example_app
    ipython
    nodejs
    build_ui
    twine
mountbit_pypi = https://nx.cloudike.com/repository/mountbit_pypi/simple
find-links =
    ${:mountbit_pypi}/restfw/


[restfw_admin]
recipe = zc.recipe.egg:scripts
eggs =
    restfw_admin[test]


[example_app]
recipe = zc.recipe.egg:scripts
eggs =
    example_app[test]


[ipython]
recipe = zc.recipe.egg:scripts
eggs =
    ${example_app:eggs}
    ipython
scripts = ipython


[nodejs]
recipe = gp.recipe.node
version = 22.12.0
npms =
    yarn


[build_ui]
=> nodejs
recipe = collective.recipe.cmd
on_install = true
on_update = true
yarn = "${buildout:bin-directory}/yarn"
cmds =
    set -e
    echo "Build Admin UI"
    cd "${buildout:directory}/src/admin_ui"
    "${:yarn}" install
    "${:yarn}" run build


[twine]
recipe = zc.recipe.egg:scripts
eggs =
    setuptools
    wheel
    twine
    readme_renderer[md]
    check-manifest
scripts =
    twine
    check-manifest
interpreter = python_twine
