body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Truncate text in table cells. */
.MuiTableCell-body .MuiTypography-body2 {
    overflow: clip;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Standard version that may be work in feature when `line-clamp` will be implemented.
.MuiTableCell-body .MuiTypography-body2 {
  overflow: clip;
  display: flex;
  flex-direction: column;
  line-clamp: 3;
}
*/
